<h1>Add new Maker</h1>







<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for :maker, url: makers_path do |f| %>

    <p>
      <%= f.text_field :name, class:"form-control", placeholder:"name" %>
    </p>
     
    <p> 
      <%= f.text_field :role, class:"form-control", placeholder:"role" %>
    </p>

    <p>
      <%= f.text_area :bio, class:"form-control", placeholder:"bio" %>
    </p>


    <%= f.submit class:"btn btn-primary btn-lg" %>

    <% end %>
  </div>
  <div class="panel-footer"><%= link_to '<< Back to makers', makers_path  %></div>
</div>