<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/900/900" alt="...">
      <div class="caption">
        <h3><%= @maker.name %></h3>
        <h4><%= @maker.role %></h4>
        <p><%= @maker.bio %></p>
        <p>
          <%= link_to 'edit', edit_maker_path(@maker), class: "btn btn-primary", role: "button" %>
          <%= link_to 'delete', maker_path(@maker), method: :delete, data: {confirm:'You sure about that?'}, class: "btn btn-danger", role: "button" %>
        </p>
      </div>
    </div>
  </div>
</div>

<p><%= link_to 'All the Makers', makers_path(), class: "btn btn-primary", role: "button" %></p>